{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set avatar_url = pages.find('/about').media.images|first.url ?: url('theme://images/avatar.png') %}
{% import 'macros/dates.twig' as dates %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" id="html">
<head>
  <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ site.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}
  <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}'s blog" href="/rss.xml">

  {% block stylesheets %}
    {% do assets.addCss('theme://css/styles.css',100) %}
    {% do assets.addCss('https://use.typekit.net/mmr7vjx.css',100) %}
  {% endblock %}
  
  {% block assets deferred %}
    {{ assets.css()|raw }}    
  {% endblock %}
</head>
<body class="{% if page.home %}page-home{% else %}page-{{ page.slug }}{% endif %}" id="menu-open">

  {% do track_views(page.route) %}

  <div class="container">
    {% include 'partials/header.html.twig' %}

    <div class="site-main">
        <main class="main-area" role="main">

            <div class="main-content">
              <section class="section-site-intro">
                {% block content %}{% endblock %}
              </section>

              {% include 'partials/availability.html.twig' with {'truncate': true} %}

              {% if page.home %}
                {% include 'partials/services.html.twig' with {'truncate': true} %}
              {% include 'partials/values.html.twig' with {'truncate': true} %}   
              {% elseif page.slug == 'services' %}
                {% include 'partials/services.html.twig' %}
              {% elseif page.slug == 'about' %}
                {% include 'partials/values.html.twig' with {'truncate': true} %}
              {% endif %}
            </div>
        </main>

        <aside class="side-content side-content--{{ page.slug }}">
            {% if page.slug != 'blog' %}
              {% include 'partials/availability.html.twig' with {
                'truncate': false, 
              } %}
            {% endif %}

            {% block sidebar %}
            {% endblock %}

            {# {% include 'partials/referrals.html.twig' %} #}
        </aside>
    </div>

    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}
  </div>

  {% if site.analytics %}
    {% include 'partials/analytics.html.twig' %}
  {% endif %}
    
  {% block javascripts %}
      {% do assets.addJs('theme://js/main.js',100) %}
  {% endblock %}

  {% block bottom %}
    {{ assets.js()|raw }}
    {{ assets.js('bottom')|raw }}
  {% endblock %} 
</body>
</html>
