{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set avatar_url = pages.find('/about').media.images|first.url ?: url('theme://images/avatar.png') %}
{% import 'macros/dates.twig' as dates %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" id="html">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ site.title }}</title>
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#fff">
  
  {% include 'partials/metadata.html.twig' %}
  <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="theme://images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="theme://images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="theme://images/favicon-16x16.png">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}'s blog" href="/rss.xml">

  {% block stylesheets %}
    {% do assets.addCss('theme://css/styles.min.css',100) %}

    <link rel="stylesheet" href="https://use.typekit.net/pvj3fee.css">
    
    <style>
        .form-honeybear {
            display: none;
        }
    </style>
  {% endblock %}
  
  {% block assets deferred %}
    {{ assets.css()|raw }}    
  {% endblock %}
</head>
<body class="{% if page.home %}page--home{% else %}page--{{ page.template }}{% endif %}">
            
  <a class="skip-main" href="#main">Skip to main content</a>

  {% do track_views(page.route) %}

  <div class="container">
    {% include 'partials/header.html.twig' %}

    <div class="site-main">
        <main class="main-area" role="main" id="main">
            <div class="main-content">
              {% if page.home or page.slug == 'services' %}
                <div class="bg-services"></div>
              {% endif %}

              <section class="section section-usercontent">
                {% block content %}{% endblock %}
              </section>

              {% if not page.slug == 'contact' %}
                {% include 'partials/availability.html.twig' with {'truncate': true} %}
              {% endif %}

              {% if page.home %}
                {% include 'partials/services.html.twig' with {'truncate': true} %}
                {% include 'partials/values.html.twig' with {'truncate': true} %}   
              {% elseif page.slug == 'services' %}
                {% include 'partials/services.html.twig' with {'truncate': true} %}
              {% elseif page.slug == 'about' %}
                {% include 'partials/values.html.twig' with {'truncate': true} %}
              {% endif %}
            </div>
        </main>

        <div class="bg-sidecontent"></div>
        <aside class="side-content side-content--{{ page.template }}" aria-label="{{ 'aside-aria'|t }}">
            {% block sidebar %}
                {% include 'partials/availability.html.twig' with {
                  'truncate': false, 
                } %}
            {% endblock %}

            {% if page.home or page.slug == 'services' or page.slug == 'about' %}
              {% include 'partials/testimonials.html.twig' %}
            {% endif %}
        </aside>
    </div>

    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}
  </div>

  {% if site.analytics %}
    {% include 'partials/analytics.html.twig' %}
  {% endif %}
    
  {% block javascripts %}
      {% do assets.addJs('theme://js/main.js',100) %}
      <script src="./upup.min.js"></script>
      <script>
        UpUp.start({
          'content-url': '/offline.html',
          'assets': [
			'/user/themes/annekesinnema/images/logo.png',
            '/user/themes/annekesinnema/css/styles.css',
            '/user/themes/annekesinnema/images/favicon.ico',
            '/user/themes/annekesinnema/images/apple-touch-icon.png',
            '/user/themes/annekesinnema/images/favicon-32x32.png',
            '/user/themes/annekesinnema/images/favicon-16x16.png',
            '/user/themes/annekesinnema/images/site.webmanifest']
        });
      </script>
  {% endblock %}

  {% block bottom %}
    {{ assets.js()|raw }}
    {{ assets.js('bottom')|raw }}
  {% endblock %} 
</body>
</html>
