{% set collection = page.find('/blog').children.published %}
        
{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}
{% set categorylist = taxonomylist.get() %}   

{% if collection|length >= 1 %}

    <h2>{{ 'more_blogs'|t }}</h2>

    <section class="widget">
        <h3 class="widget__title">{{ 'latest_blogs'|t }}</h3>
        <ul class="post-list">
            {% for post in collection %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }} - {{ post.header.headline }}</a>
                    <br />
                    <time timestamp="{{ page.date|date("d-n-Y") }}" class="a11y">
                        {{ post.date|date('d') }}
                        {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }}
                        {{ post.date|date('Y') }}
                    </time>
                </li>
            {% endfor %} 
        </ul>
    </section>

    {% if taxlist and taxlist['tag']|length > 3 %}
        <section class="widget">
            <h3 class="widget__title">{{ 'tags'|t }}</h3>
            <ul class="post-list ul-inline">
                {% for tax,value in taxlist['tag'] %}
                    <li>
                        {% set active = uri.param('tag') == tax? 'active' : '' %}
                        <a class="{{ active }}" href="{{ base_url }}/{{ 'tag' }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
    
    {% if categorylist and categorylist['tag']|length > 3 %}  
        <section class="widget">
            <h3 class="widget__title">{{ 'blogs_per_category'|t }}</h3>

            {% for letter in 'A'..'Z' %}   
            {% for tax,value in categorylist['category'] %} 
                {% if tax starts with letter %}   
                    <h4 class="tax__title">
                        {{ 'category'|t }}: {{ tax }}
                    </h4>  
                    <ul class="post-list">
                        {% for child in collection %}   
                            {% if child in taxonomy.findTaxonomy({'category':tax}) %}
                            <li><a href="{{ child.url }}" class="column__title">"{{ child.title }}"</a></li> 
                            {% endif %}
                        {% endfor %} 
                    </ul> 
                {% endif %}  
            {% endfor %}
            {% endfor %} 
        </section>
    {% endif %} 

{% else %}
    {% include 'partials/availability.html.twig' with {
        'truncate': false, 
    } %}
{% endif %} 
