{% set collection = page.find('/blog').children.published %}
        
{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}
{% set categorylist = taxonomylist.get() %}   

{% if collection|length >= 1 %}

    <h2>{{ 'more_blogs'|t }}</h2>

    <section class="widget">
        <h3 class="widget__title widget__title--mostrecent">{{ 'latest_blogs'|t }}</h3>
        <ul class="post-list">
            {% for post in collection %}
                <li class="post-list__item">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <br />
                    <time timestamp="{{ page.date|date("d-n-Y") }}" class="implicit">
                        {{ post.date|date('d') }}
                        {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }}
                        {{ post.date|date('Y') }}
                    </time>
                </li>
            {% endfor %} 
        </ul>
    </section>
{# 
    {% if taxlist and taxlist['tag']|length > 0 %}
        <section class="widget">
            <h3 class="widget__title">{{ 'tags'|t }}</h3>
            <ul class="post-list blog-post__tag-list">
                {% for tax,value in taxlist['tag'] %}
                    <li class="post-list__item">
                        {% set active = uri.param('tag') == tax? 'active' : '' %}
                        <a class="{{ active }}" href="{{ base_url }}/{{ 'tag' }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %} #}
    
    {% if categorylist and categorylist['category']|length > 3 %}  
        
        <section class="widget">
            <h3 class="widget__title widget__title--categories">{{ 'blogs_per_category'|t }}</h3>

            <div class="widget__grid">
            {% for letter in 'A'..'Z' %}   
            {% for tax,value in categorylist['category'] %} 

                {% if tax starts with letter %}   
                    {# enable a condensed view on mobile when there are more than 5 categories #}
                    {% set maxTaggedBlogs = 5 %}
                    {% set enableCondensing = (taxonomy.findTaxonomy({'category':tax})|length > maxTaggedBlogs) ? ' tax__header--condense' : '' %}
                    <div class="widget__column">
                        <div class="tax__header{{ enableCondensing }}">
                            <h4 class="tax__title">
                                {{ 'category'|t }}: {{ tax }}
                            </h4> 
                            {% if taxonomy.findTaxonomy({'category':tax})|length > maxTaggedBlogs %}
                                <a href="#open-{{ tax|lower }}"> 
                                    <svg width="14px" height="6px" viewBox="0 0 14 6" xmlns="http://www.w3.org/2000/svg">
                                        <polyline transform="rotate(90 151.5 -128.5)" points="280 10 286 16 280 22" stroke="#6F66AB" fill="none" fill-rule="evenodd"/>
                                    </svg> 
                                </a> 
                            {% endif %}
                        </div>
                        <ul class="post-list" id="open-{{ tax|lower }}">
                            {% for child in collection %}   
                                {% if child in taxonomy.findTaxonomy({'category':tax}) %}
                                    <li class="post-list__item">
                                        <a href="{{ child.url }}" class="column__title">
                                            {{ child.title }}
                                        </a>
                                    </li> 
                                {% endif %}
                            {% endfor %} 
                        </ul> 
                    </div>
                {% endif %}  
            {% endfor %}
            {% endfor %} 
            </div>
        </section>
    {% endif %} 

{% else %}
    {% include 'partials/availability.html.twig' with {
        'truncate': false, 
    } %}
{% endif %} 
