{% set footer = page.find('/widgets/footer') %}

<footer aria-label="{{ 'footer-aria'|t }}" itemscope itemtype="http://schema.org/LocalBusiness">
    <span hidden itemprop="name">{{ site.title }}</span> 
    <a href="https://annekesinnema.nl" hidden itemprop="url">https://annekesinnema.nl</a> 
    <span hidden itemprop="knowsAbout">front-end webdevelopment</span> 
    <span hidden itemprop="knowsLanguage">nl_NL</span> 
    <span hidden itemprop="knowsLanguage">en_GB</span>
    <span hidden itemprop="memberOf" itemtype="http://schema.org/Organization" >Fronteers</span> 
    <img src="{{ url('theme://images/logo.png') }}" width="66" height="66"  hidden itemprop="logo" alt="" /> 
    <img src="{{ url('theme://images/logo.png') }}" width="66" height="66"  hidden itemprop="image" alt="" /> 

    <section class="site-footer" aria-label="Footer">
        <div class="bg-sitefooter"></div>
        <section class="site-footer__header">
            {% if page.slug == 'contact' %}
                <h2 class="site-footer__title">{{ footer.header.expandedTitle }}</h2>
                <dl>
                    <dt>{{ footer.header.adresLabel }}</dt>
                    <dd itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">Oostveenweg 28<br />
                        7533VV Enschede</dd>
                    <dt>{{ footer.header.kvkLabel }}</dt>
                    <dd>61518328</dd>

                    <dt>{{ footer.header.btwLabel }}</dt>
                    <dd itemprop="vatID">op aanvraag</dd>
                </dl>
            {% else %}
                <h2 class="site-footer__title">{{ footer.header.title }}</h2>
                <p class="site-footer__subtitle">{{ footer.header.subtitle }}</p>
                <p>{{ footer.header.intro }}</p>
            {% endif %}
        </section>

        <section class="site-footer__contactform" id="contactform">
            <h3 class="site-footer__sub-title">{{ footer.header.callbackLabel }}</h3>
            <p>
                {{ footer.header.callback }}
            </p> 
            {% include "forms/form.html.twig" with { form: forms('callmeplease') } %}
        </section>

        <section class="site-footer__contact"> 
            <h3 class="site-footer__sub-title">{{ footer.header.contactLabel }}</h3>
            <dl>
                <dt>{{ footer.header.emailLabel }}</dt>
                <dd><a href="mailto:{{'mail@annekesinnema.nl'|safe_email}}" itemprop="email">{{'mail@annekesinnema.nl'|safe_email}}</a></dd>
                <dt>{{ footer.header.wetransferLabel }}</dt>
                <dd><a href="https://www.wetransfer.com/?to=mail@annekesinnema.nl&msg={{ footer.header.wetransfermessage }}">{{ footer.header.wetransfer }}</a></dd>
                <dt>{{ footer.header.phoneLabel }}</dt>
                <dd><a href="tel:0644870256" itemprop="telephone" content="0644870256">06-44870256</a></dd>
                <dd><a href="tel:0534321728" itemprop="telephone" content="0534321728"> >053-4321728</a></dd>
            </dl>

            <h3 class="site-footer__sub-title">{{ footer.header.socialLabel }}</h3>
            <ul>
                <li><a href="https://twitter.com/asinnema" rel="me"><span class="implicit">{{ footer.header.socialA11yLabel }} </span>Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/annekesinnema/" rel="me"><span class="implicit">{{ footer.header.socialA11yLabel }} </span>LinkedIn</a></li>
            </ul>

            {% set blogArticles = page.evaluate([{'@page.children':'/blog'}]) %}
            {% if config.plugins.feed.enabled and blogArticles|length > 1 %}
                <a class="cta" href="{{ base_url }}{{ pages.find('/blog').rawRoute }}.rss">{{ 'SUBSCRIBE'|t }}</a>
            {% endif %}
        </section>
    </section> 

    <section class="site-byline" aria-label="{{ 'colophon-aria'|t }}">
        <div class="site-footer__byline">
            <div>Content {{ footer.header.by }} Anneke Sinnema</div>
            <div>Design {{ footer.header.by }} Adrian Egger</div>
        </div>
    </section>
</footer>