{% set footer = page.find('/widgets/footer') %}

<footer>
    <section class="site-footer">
        <div class="bg-sitefooter"></div>
        <section class="site-footer__header">
            {% if page.slug == 'contact' %}
                <h2>{{ footer.header.expandedTitle }}</h2>
                <dl>
                    <dt>{{ footer.header.adresLabel }}</dt>
                    <dd>Oostveenweg 28<br />
                        7533VV Enschede</dd>
                
                    <dt>{{ footer.header.kvkLabel }}</dt>
                    <dd>61518328</dd>

                    <dt>{{ footer.header.btwLabel }}</dt>
                    <dd>op aanvraag</dd>

                    <dt>{{ footer.header.bankLabel }}</dt>
                    <dd>NL21INGB0006748126</dd>
                </dl>
            {% else %}
                <h2>{{ footer.header.title }}<br />
                    {{ footer.header.subtitle }}</h2>
                <p>{{ footer.header.intro }}</p>
            {% endif %}
        </section>

        <section class="site-footer__contactform" id="contactform">
            <h3>{{ footer.header.callbackLabel }}</h3>
            <p>
                {{ footer.header.callback }}
            </p> 
            {% include "forms/form.html.twig" with { form: forms('callmeplease') } %}
        </section>

        <section class="site-footer__contact"> 
            <h3>{{ footer.header.contactLabel }}</h3>
            <dl>
                <dt>{{ footer.header.emailLabel }}</dt>
                <dd><a href="mailto:{{'mail@annekesinnema.nl'|safe_email}}">{{'mail@annekesinnema.nl'|safe_email}}</a></dd>
                <dt>{{ footer.header.wetransferLabel }}</dt>
                <dd><a href="https://www.wetransfer.com/?to=mail@annekesinnema.nl&msg={{ footer.header.wetransfermessage }}">{{ footer.header.wetransfer }}</a></dd>
                <dt>{{ footer.header.phoneLabel }}</dt>
                <dd><a href="tel:0644870256">06-44870256</a></dd>
                <dd><a href="tel:0534321728">053-4321728</a></dd>
            </dl>

            <h3>{{ footer.header.socialLabel }}</h3>
            <ul>
                <li><a href="https://twitter.com/asinnema">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/annekesinnema/">LinkedIn</a></li>
            </ul>

            {% set blogArticles = page.evaluate([{'@page.children':'/blog'}]) %}
            {% if config.plugins.feed.enabled and blogArticles|length > 1 %}
                <a class="cta" href="{{ base_url }}{{ pages.find('/blog').rawRoute }}.rss">{{ 'SUBSCRIBE'|t }}</a>
            {% endif %}
        </section>
    </section> 

    <section class="site-byline">
        <div class="site-footer__byline">
            <div>Content {{ footer.header.by }} Anneke Sinnema</div>
            <div>Design {{ footer.header.by }} Adrian Egger</div>
        </div>
    </section>
</footer>