<nav class="site-navigation" role="navigation" aria-label="{{ 'nav-aria'|t }}">
    <button class="navigation__ontoggle mobile-only">
        <div class="toggle-background">{{ 'menuLabel'|t }}</div>
    </button>

    <div class="mobile__navigation">
        <button class="navigation__offtoggle mobile-only">
            <div class="toggle-background">{{ 'menuCloseLabel'|t }}</div>
        </button>

        <ul class="ul-inline navigation__list">
            {% set current_page = (page.active or page.activeChild) ? 'current' : '' %}
            {% set current_main = (page.active or page.activeChild) ? '#main' : '' %}
            {% if theme_config.showchildpages %}
                {{ _self.loop(pages) }}
            {% else %} 
                {% for page in pages.children.visible %}
                    <li class="menu-item menu-item-{{ loop.index }}">
                        <a href="{{ page.url }}{{ current_main }}" class="{{ current_page }}">
                            {{ page.menu }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %} 
            {% for mitem in site.menu %}
                <li class="menu-item menu-item-{{ loop.index }}">
                    <a href="{{ mitem.url }}{{ current_main }}" class="{{ current_page }}">
                        {{ mitem.text }}
                    </a>
                </li>
            {% endfor %}
            {% if config.plugins.langswitcher.enabled %}
                {% for language in langswitcher.languages %}
                    {% set show_language = true %}
                    {% if language == langswitcher.current %}
                        {% set lang_url = page.url %}
                        {% set active_class = ' active' %}
                    {% set show_language = false %}
                    {% else %}
                        {% set base_lang_url = base_url_simple ~ grav.language.getLanguageURLPrefix(language) %}
                        {% set lang_url = base_lang_url ~ langswitcher.page_route ~ page.urlExtension %}
                        {% set untranslated_pages_behavior = grav.config.plugins.langswitcher.untranslated_pages_behavior %}
                        {% if untranslated_pages_behavior != 'none' %}
                            {% set translated_page = langswitcher.translated_pages[language] %}
                            {% if (not translated_page) or (not translated_page.published) %}
                                {% if untranslated_pages_behavior == 'redirect' %}
                                    {% set lang_url = base_lang_url ~ '/' %}
                                {% elseif untranslated_pages_behavior == 'hide' %}
                                    {% set show_language = false %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% set active_class = '' %}
                    {% endif %}

                    {% if show_language %}
                        <li><a href="{{ lang_url ~ uri.params }}" class="external{{ active_class }}" lang="{{ language }}" hreflang="{{ language }}">{{ native_name(language)|capitalize }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>

{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'current' : '' %}
        {% set current_main = (p.active) ? '#main' : '' %}
        <li>
            <a href="{{ p.url }}{{ current_main }}" class="{{ current_page }}">
                {{ p.menu }}
            </a>
            {# {% if p.children.visible.count > 0 %}
                <ul class="ul-sub">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %} #}
        </li>
    {% endfor %}
{% endmacro %}
