<article class="service service-{{ number }}">
    <h3 class="service__title">{{ service.title }}</h3>    
    <p class="service__sub">
        {{ service.summary|striptags }}
    </p> 
    {% set content = service.content|slice(service.summary|length) %}
    {% if content != '' %}
    <p class="mobile-only">
        {{ content|striptags }}
    </p>
    {% endif %}
    <p>
        <a href="{{ service.url }}">
            {{ service.header.linkshort }}
            <span class="a11y">{{ service.header.linkdescription }}</span>
        </a>
    </p>
</article>
