<article class="service service-{{ number }}">
    <h3 class="service__title">
        {{ service.title }}
    </h3>    
    <p class="service__summary">
        {{ service.summary }}
    </p> 
    {% set content = service.content|slice(service.summary|length) %}
    {% if content != '' %}
        <p class="{% if truncate %}mobile-only{% endif %}">
            {{ content|striptags }}
        </p>
    {% endif %}
    <p>
        <a href="{{ service.url }}" class="readmore readmore--dark"
            >{{ service.header.linkshort }}
            <span class="a11y">{{ service.header.linkdescription }}</span>
        </a>
    </p>
</article>
