<article class="value value--{{ number }}">
    {% if value.header.icon %}
        <img src="{{ url('theme://images/') }}/icon-{{ value.header.icon }}.png" 
            class="value__icon" width="auto" height="45" alt=""  loading="lazy" lazyload="1" />
    {% endif %}
    {% if page.home %}
        <h3 class="value__title">{{ value.title }}</h3>  
    {% else %}
        <h4 class="value__title">{{ value.title }}</h4>  
    {% endif %}  
    <p class="value__summary">
        {{ value.summary }}
    </p>
</article>
