{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %} 
    {% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %} 
    
	{% block content %}    
		{{ page.content }} 

        <div class="faq-latest">
            <h2>{{ "FAQ.HOME.LATEST"|t }}</h2>
            
            {% for child in collection|slice(0,1) %}  
                <section class="section__faqhighlight">  
                    <h3 class="section__title">
                        <a href="{{ child.url }}">"{{ child.title }}"</a>
    				</h3>   
    				<p class="time time--answered">{{ "FAQ.ANSWERDATE"|t }} <time>{{ p.date|date("j-m-Y")}}</time></p>
    				 
                    {{ child.content }}  
                    
                   {% if grav.twig.enable_comments_plugin %}  
                        <div class="buttonwrapper">
                            <button id="toggleCommentBox" data-a11y-toggle="comment" type="button">
                               {{ "COMMENTS.ADD"|t }}
                            </button>
                        </div>
                   {% endif %} 
                </section>  
                     
                {% if grav.twig.enable_comments_plugin %}  
                    {% include 'partials/comments.html.twig' %}
                {% endif %} 
            {% endfor %}  
        </div>
                
			{% set taxlist = taxonomylist.get() %}   
			{% if taxlist %}  
                    
                <section class="section__faqsorted" aria-labelledby="aria__faqsorted">
                    {% if collection.children.published|length > 4 %}
                        <hr />
                        <h3 id="aria__faqsorted" class="section__title">{{ "FAQ.PAGE.PERCATEGORY"|t }}:</h3>
        	        {% elseif collection.children.published|length < 4 %} 
        				{% if collection.children.published|length > 1 %} 
                            <hr />
                        	<h3 id="aria__faqsorted" class="section__title">{{ "FAQ.PAGE.ANSWEREDBEFORE"|t }}:</h3>
                    	{% else %} 
        				{% endif %}
        			{% else %} 
                {% endif %}
                
                <hr />
                
                <div class="columns">
                    <a href="#showall" aria-hidden="true">Show all previous questions sorted by category</a>
                    
                    <div id="showall" hidden aria-hidden="false"> 
                        {% for letter in 'A'..'Z' %}   
                            {% for tax,value in taxlist['category'] %} 
                                {% if tax starts with letter %}   
                                    <div class="column">  
                                        <div class="column__content">  
                                                <h4 class="column__title">
                                                    {{ tax }}
                                                </h4>  
                                            <ul>
                                                {% for child in collection %}   
                                                    {% if child in taxonomy.findTaxonomy({'category':tax}) %}
                                                    <li><a href="{{ child.url }}" class="column__title">"{{ child.title }}"</a></li> 
                                                    {% endif %}
                                                {% endfor %} 
                                            </ul> 
                                        </div>
                                    </div>  
                                {% endif %}  
                            {% endfor %}
                        {% endfor %} 
                        </div>
                    </div>
    	        </section>  
    		{% endif %} 
		
	{% endblock %}  
{% endembed %}
