{% embed 'partials/base.html.twig' %}

    {% set collection = page.collection %} 

    {% block content %}
        {% if page.header.a11ytitle %}
            <h2>{{ page.header.a11ytitle }}</h2>
        {% endif %}

        {{ page.content }}

        {% for post in collection|slice(0, 1) %}
            <article class="post">
                <header>
                    <h3>
                        {{ 'SITE.LATEST_BLOG'|t }}: <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <time timestamp="{{ post.date|date("d-n-Y") }}">
                        {{ post.date|date("d") }}
                        {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} 
                        {{ post.date|date("Y") }}
                    </time>
                    {% set post_image = post.media.images|first %}
                    {% if post_image %}
                        {{ post_image.html('', post.header.imagealt, '') }}
                    {% endif %}
                </header>
                <section id="post-body">
                    {{ post.summary }}
                </section>
            </article>
        {% endfor %}

        <hr />

        <ul class="post-list">
            {% for post in collection|slice(1) %}
                <li>
                    {{ post.date|date('d') }}
                    {{ 'MONTHS_OF_THE_YEAR'|ta(post.date|date('n') - 1) }} 
                    <a href="{{ post.url }}">{{ post.title }} - {{ post.header.headline }}</a>
                </li>
            {% endfor %} 
        </ul>
    {% endblock %}

{% endembed %}
