{% embed 'partials/base.html.twig' %}

    {% block content %}
        <article>
            <header>
                {% if page.header.a11ytitle %}
                    <h2>{{ page.header.a11ytitle }}</h2>
                {% endif %}
            </header>
            <section id="post-body">
                {{ page.content }}
            </section>
        </article>

        <nav id="post-nav" class="clearfix">
            {{ 'i_can_also'|t }}
            {% if not page.isFirst %}<span class="prev"><a href="{{ page.nextSibling.url }}"
            >{{ page.nextSibling.header.paginationTitle }}</a
            ></span>{% endif %}{% if not page.isFirst and not page.isLast %}
            {{ 'or'|t }}{% endif %}{% if not page.isLast %}
            {% if page.prevSibling.visible %}<span class="next"><a href="{{ page.prevSibling.url }}">{{ page.prevSibling.header.paginationTitle }}</a></span>{% endif %}{% endif %}!
        </nav>

        <!-- Disqus comments -->
        {% if page.header.disqus %}
            <div class="archive readmore">
                <h3>Comments</h3>
                {% include 'partials/disqus.html.twig' %}
            </div>
        {% endif %}

        <!-- Archive post list -->
        {% if page.header.archive %}
            <ul id="" class="post-list">
                <h3>Read more</h3>
                {% for post in site.posts %}
                    <li class="post-list__item">
                        <a href="{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date|date("M d")  }}</aside></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
{% endembed %}
